.element {
    display: block;
      /*
    lg:block
        */
}


.modal {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    text-align: center;
    width: 80%;
    height: 100vh;
    transition: 0.3s;
    z-index: 1;
    background: rgba(0,0,0, .9);
    /*
    absolute flex-col justify-center items-center top-0 left-full wfull text-center h-screen duration-300 -z-1 bg-[#0000e9]
    */
    
}

.modal.active {
    left: 0;
}

